{% extends "layout.njk" %}

{% block head %}
<title>Sobre - {{about.name}}</title>
{% endblock %}

{% block content %}
    <main id="main-content" class="_center _grid">
        <div class="bio-container">
            <div class="wrapper"><img class="img" src="{{about.avatar_url}}" alt="Imagem de {{about.name}}"></div>
            <h1 class="name">{{about.name}}</h1>
            <div class="bio">
                <h2 class="subtitle">{{about.role}}</h2>
                <p class="text">{{about.bio}}</p class="text">
                <p class="text">{{about.bio2}}</p>
            </div>
        </div>
        
        <div class="social-media">
            <ul class="nav-list">
                {% for link in about.links %}
                <li class="item"><a class="link _underline" target="_blank" href="{{link.url}}">{{link.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </main>

{% endblock %}
